<!doctype html>
<html lang="es">
  <head>
    <title>Formulario de registro</title>
     <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <script src="datepicker/src/js/datetimepicker.js"></script>
    <script src="datepicker/src/js/datetimepicker.templates.js"></script>
    <script src="script.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="datepicker/src/css/datetimepicker.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-app="CuembyTest">
   
   <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Cuemby Test</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Registro</a></li>
        <li><a href="/update.html">Desactivar</a></li>
        <li><a href="/assistance.html">Asistencia</a></li>
        <li><a href="/report.html">Reporte de Asistencia</a></li>
      </ul>
    </div>
  </nav>
   
    <div ng-controller="Controller as ctrl" class="main">
    
    <h1>Registro de Usuario</h1>
     
     <div class="form-group">
        <label for="email">Identificación:</label>
        <input class="form-control" type="text" ng-model="ctrl.user.identification" placeholder="Identificación">
     </div>
      
      <div class="form-group">
        <label for="email">Nombre:</label>
        <input class="form-control" type="text" ng-model="ctrl.user.name" placeholder="nombre">
     </div>
     
     <div class="form-group">
        <label for="email">Apellidos:</label>
        <input class="form-control" type="text" ng-model="ctrl.user.lastName" placeholder="Apellidos">
     </div>
     
     <div class="form-group">
        <label for="email">Cargo:</label>
        <select  class="form-control" ng-options="item as item.name for item in ctrl.positions track by item.id"
        ng-model="ctrl.selected"></select>
     </div>
     
     <div class="form-group">
        <label for="email">Cumpleaños: {{ ctrl.user.birthday | date:'dd-MM-yyyy' }}</label>
        <div class="dropdown">
            <a  class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target="#" href="#">Mostrar Calendario</a>
            <ul class="dropdown-menu" role="menu">
                <datetimepicker data-ng-model="ctrl.user.birthday" data-datetimepicker-config="{ dropdownSelector: '#dropdown1', startView:'day', minView:'day' }"/>
            </ul>
        </div>
     </div>
     
     <div class="form-group">
        <label for="email">Fecha de entrada a la empresa: {{ ctrl.user.dateEntryCompany | date:'dd-MM-yyyy' }}</label>
        <div class="dropdown">
        <a  class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">Mostrar Calendario</a>
            <ul class="dropdown-menu" role="menu">
                <datetimepicker data-ng-model="ctrl.user.dateEntryCompany" data-datetimepicker-config="{ dropdownSelector: '#dropdown2', startView:'day', minView:'day' }"/>
            </ul>
       </div>
     </div>
      <div class="pull-right">
        <button class=" btn btn-default btn-primary" ng-click="ctrl.save(ctrl.user)">Guardar</button>
      </div>
    </div>
  </body>
</html>
