<!doctype html>
<html lang="es">
  <head>
    <title>Reporte</title>
     <meta charset="UTF-8">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <script src="datepicker/src/js/datetimepicker.js"></script>
    <script src="datepicker/src/js/datetimepicker.templates.js"></script>
    <script src="script.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="datepicker/src/css/datetimepicker.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-app="CuembyTest">
   
   <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Cuemby Test</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/">Registro</a></li>
        <li><a href="/update.html">Desactivar</a></li>
        <li><a href="/assistance.html" >Asistencia</a></li>
        <li class="active"><a href="/report.html">Reporte de Asistencia</a></li>
      </ul>
    </div>
  </nav>
   
   
    <div ng-controller="Report as ctrl" class="main">
     
     
     <h2>Informe de Asistencia</h2>
      
      <div class="form-group">
        <label for="email">Desde: {{ ctrl.since | date:'dd-MM-yyyy' }}</label>
        <div class="dropdown">
            <a  class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target="#" href="#">Mostrar Calendario</a>
            <ul class="dropdown-menu" role="menu">
                <datetimepicker data-ng-model="ctrl.since" data-datetimepicker-config="{ dropdownSelector: '#dropdown1', startView:'day', minView:'day' }"/>
            </ul>
        </div>
     </div>
     
     <div class="form-group">
        <label for="email">Hasta: {{ ctrl.until | date:'dd-MM-yyyy' }}</label>
        <div class="dropdown">
            <a  class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">Mostrar Calendario</a>
            <ul class="dropdown-menu" role="menu">
                <datetimepicker data-ng-model="ctrl.until" data-datetimepicker-config="{ dropdownSelector: '#dropdown2', startView:'day', minView:'day' }"/>
            </ul>
        </div>
     </div>
     
      <div class="pull-right">
        <button class=" btn btn-default btn-primary" ng-click="ctrl.showReport()">Ver Asistencias</button>
      </div>
    
    
    <h3 ng-if="ctrl.report.length == 0">
      No hay informe
    </h3>
    
    <table class="table" ng-if="ctrl.report.length > 0">
    <thead>
      <tr>
        <th>Identificación</th>
        <th>Usuario</th>
        <th>Fecha</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in ctrl.report">
        <td>{{ item.identification }}</td>
        <td>{{ item.fullName }}</td>
        <td>{{ item.position.name }}</td>
      </tr>
    </tbody>
  </table>
    
    </div>
    
    
  </body>
</html>
