<!doctype html>
<html lang="es">
  <head>
    <title>Activar / Desactivar Usuario</title>
     <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <script src="datepicker/src/js/datetimepicker.js"></script>
    <script src="datepicker/src/js/datetimepicker.templates.js"></script>
    <script src="script.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="datepicker/src/css/datetimepicker.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-app="CuembyTest">
   <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Cuemby Test</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/">Registro</a></li>
        <li class="active"><a href="/update.html">Desactivar</a></li>
        <li><a href="/assistance.html">Asistencia</a></li>
        <li><a href="/report.html">Reporte de Asistencia</a></li>
      </ul>
    </div>
  </nav>
   
   
    <div ng-controller="Update as ctrl" class="main">
     
     <h2>Desactivar Usuario</h2>
      
      <div class="form-group">
        <label for="email">Usuario:</label>
        <select class="form-control" ng-options="item as item.fullName for item in ctrl.users track by item.id"
        ng-model="ctrl.user"></select>
     </div>
     
     <div class="form-group">
        <label for="email">Desea desactivar usuario:</label>
        <select class="form-control" ng-options="item as item.name for item in ctrl.status track by item.id"
        ng-model="ctrl.selectedStatus"></select>
     </div>
     
      <div class="pull-right">
        <button class=" btn btn-default btn-primary" ng-click="ctrl.save(ctrl.user)">Guardar</button>
      </div>
    </div>
  </body>
</html>
